<div class="container form-style-background">
  <h3 class="text-center">Редагувати статтю</h3>

  <%= render 'form', adress_url: admins_post_path(@post_admin), 
                     button_text: "Зберегти зміни" %>
</div>