<div class="container form-style-background">
  <h3 class="text-center">Створити нову статтю</h3>

  <%= render 'form', adress_url: admins_posts_path, 
                     button_text: "Зберегти нову послугу" %>


</div>