<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="text-center">Створити нову статтю</h3>
      <%= link_to 'Повернутися до списку фільмів', films_path, class: "btn btn-outline-light" %>
      <hr>
      <%= render 'form', adress_url: films_path, 
                         button_text: "Зберегти фільм" %>
    </div>
  </div>
</div>